
.cardápio{
	font-family: courier new;
  background-color: powderblue
}
p1{
  font-family: cursive; font-size: 35px
}

 body{
font-size: 22px;
}
 .titulo{
   font-family: cursive; font-size: 35px
}

 .seguidos{
 	border: 4px solid black;
 	border-radius: 25px;
 }

 .inicio{
 	border: 4px solid black;
 	border-radius: 25px;
 }

  .vegetarianos {
    font-family: cursive;
    font-size: 35px

  }

.vegetal{
  border: 4px solid black;
  border-radius: 25px;
}

 .passaro{
 	border: 4px solid black;
 	border-radius: 25px;
 }

.aves{
  	font-family: cursive; font-size: 35px
}

 .alimento{
 	border: 4px solid black;
 	border-radius: 25px;
 }
  
.carne{
font-family: cursive; font-size: 35px;
}

.marinho{
	border: 4px solid black;
	border-radius: 25px;
}

.peixe{
  font-family: cursive; font-size: 35px;
}

.doce{
	border: 4px solid black;
	border-radius: 25px;
}

.sobremesa{
  font-family: cursive; font-size: 35px;
}

.liquido{
	border: 4px solid black;
	border-radius: 25px;
}


.bebida{
  font-family: cursive;font-size: 35px;
}
