
font-size:{
  20px
}

.cardápio{
  background-color: powderblue
}
p1{font-family: cursive; font-size: 30px
}

 body{
font-size: 18px;
 }
 .titulo{
   font-family: cursive; font-size: 30px
 }

  .vegetariano {
    font-family: cursive; font-size: 30px
  }
}

  .aves{
  	font-family: cursive; font-size: 30px
  	 }

  	 .carne{
  	 	font-family: cursive; font-size: 30px
  	 }