
.cardápio{
  background-color: powderblue
}
p1{
  font-family: cursive; font-size: 35px
}

 body{
font-size: 22px;
}
 .titulo{
   font-family: cursive; font-size: 35px
}

  .vegetariano {
    font-family: cursive; font-size: 35px
}

.aves{
  	font-family: cursive; font-size: 35px
}

.carne{
font-family: cursive; font-size: 35px;
}

.peixe{
  font-family: cursive; font-size: 35px;
}
